<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SWN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SWN.Properties.Settings.Db1ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Db1.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <userSettings>
    <SWN.Properties.Settings>
      <setting name="CurrentDateTime" serializeAs="String">
        <value />
      </setting>
      <setting name="isStartDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="hasUndo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>""</value>
      </setting>
    </SWN.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="MexEndpoint" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864">
          <reliableSession inactivityTimeout="00:20:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8001/SWNService" binding="netTcpBinding"
        bindingConfiguration="MexEndpoint" contract="SWNServiceReference.SWNService"
        name="netTcpBinding" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>